.infos-wrapper, .main-wrapper {
	height: 100%;
}

.infos-wrapper {
	background-color: #01070C;
	padding-top: 20px;
}
.main .tab-content {
	height: 500px;
}
.main-wrapper {
	margin-left: 0px;
	overflow: hidden;
	width: 640px;
}
.main {
	margin-top: 20px;
	margin-left: 10px;
}
.main-nav {
	font-family: Segoe UI Web Semibold;
}
#inbox {
	position: relative;
}
.input-box-wrapper {
	padding: 5px;
}
#inbox div textarea:focus {
	box-shadow: none;
	border-color: rgba(2, 184, 255, 0.25); 
}
#inbox div textarea {
	border-radius: 0px;
	border: solid 1px rgba(204, 204, 204, 0.08);
	width: 435px;
	resize: none;
	margin: 0px;
	background: rgba(124, 111, 111, 0.08);
	color: #7C7C7C;
}
.msgs-content {
	height: 400px;
	background: rgba(124, 111, 111, 0.08);
}
.groups ul {
	width: 72px;
	text-shadow: 1px 1px 0px #ebebeb;
    filter: dropshadow(color=#ebebeb, offx=1, offy=1);
    font-family: Segoe UI Web Regular;
}
.groups ul li {
	text-align: center;
	background: #ccc;
	margin-top: 3px;
	padding: 10px;
}
.groups {
	margin-top: 60px;
}