html, body {
    font-family: Ubuntu;
    height: 100%;
    background: #f7f7f7;
}

input {
    width: 100%;
    border: none;
    margin: 0.4em 0em 0.4em 0em;
    font-size: 2em;
    background: #fff;
    font-family: Ubuntu Mono;
    outline: none;
}

input[type=submit] {
    width: 100%;
    font-size: 2em;
    border: none;
    background: #333;
    color: #f7f7f7;
    padding: 0.2em;
}

fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
}

h3 {
    font-size: 4em;
    font-weight: lighter;
    color: #666;
    margin: 0 0 0.2em;
}

form {
    padding: 0 3em;
}

.main-container {
    position: relative;
    height: 100%;
}

.input-wrapper {
    background: #fff;
    margin-bottom: 1em;
    padding: 0 0.7em;
    border: solid 1px #fff;
}

h1.app-logo {
    font-size: 7.5em;
    margin: 0px auto;
    width: 3.7em;
}

.section-name {
    font-weight: lighter;
    color: #999;
    float: right;
}

.login-container,
.register-group-container {
    width: 40%;
    margin: 0px auto;
    margin-top: 2em;
}

div.register-teacher {
    padding: 0 3em;
    text-align: right;
}
.register-teacher small {
    color: blue;
    font-family: Ubuntu;
    text-decoration: underline;
    cursor: pointer;
}

.hidden {
    display: none;
}

.alert-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
}

.alert {
    float: right;
    margin: 1em;
    font-weight: lighter;
    padding: 1.5em;
    position: relative;
    background: #24a8e0;
    color: #fff;
}

.alert button {
    position: absolute;
    top: 0px;
    right: 0px;
    font-weight: bold;
    border: none;
    font-size: 1em;
    background: transparent;
    margin: 3px;
    color: #fff;
}

.alert button:hover {
    background: #4fcde0;
    color: #fff;
}

/*homepage*/

.app-logo-wrapper .app-logo {
    margin: 0px 0px 0px 0px;
    border: solid 1px;
    padding-left: 0.3em; 
}

.user-info {
    border: solid 1px;
    overflow: hidden;
    padding-left: 2.6em;
}

.user-info div.user-photo {
    border: solid 1px;
    width: 63px;
    height: 63px;
    float: left;
    margin-right: 0.5em;
}

.user-info span.user-name {
    border: solid 1px;
    font-size: 2em;
    font-weight: lighter;
    padding-top: 0.6em;
    float: left;
}

.user-info div.user-settings {
    border: solid 1px;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 1.7em;
    margin-left: 0.6em;
}

nav.menu-bar {
    overflow: hidden;
}

nav.menu-bar ul li{
    display: inline-block;
    margin-right: 1em;
    border: solid 1px;
    width: 69px;
    height: 69px;
}

.sharing-stage {
    border: solid 1px;
    overflow: hidden;
    padding: 2em;
}

.group-box {
    border: solid 1px;
    font-size: 0.8em;
    float: left;
    padding: 1em;
    margin: 0.5em;
    width: 16em;
    height: 16em;
}
.group-box ul {
    margin: 0;
    padding: 0;
}
.group-box ul li {
    list-style: none;
    padding: 0.4em;
    overflow: hidden;
    color: #fff;
}

.group-box ul li:hover {
    background: #ccc;
}

.group-box .user-photo,
.group-box .user-name {
    float: left;
}

.group-box .user-photo {
    width: 25px;
    height: 25px;
    border: solid 1px;
}

.group-box .user-name {
    margin: 6px 0 0 8px;
}

.group-box h2.group-name {
    font-weight: lighter;
    font-size: 2.3em;
    color: #333;
}