html, body {
    font-family: Ubuntu;
    height: 100%;
    background: #f7f7f7;
}

a, li, a:focus {
    outline: none;
}

input {
    width: 100%;
    border: none;
    margin: 0.4em 0em 0.4em 0em;
    font-size: 2em;
    background: #fff;
    font-family: Ubuntu Mono;
    outline: none;
}

input[type=submit] {
    width: 100%;
    font-size: 2em;
    border: none;
    background: #333;
    color: #f7f7f7;
    padding: 0.2em;
}

input[type=submit]:hover {
    background-color: #222;
}

fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
}

h3 {
    font-size: 4em;
    font-weight: lighter;
    color: #666;
    margin: 0 0 0.2em;
}

form {
    padding: 0 3em;
}

.main-container {
    position: relative;
    height: 100%;
}

.input-wrapper {
    background: #fff;
    margin-bottom: 1em;
    padding: 0 0.7em;
    border: solid 1px #fff;
}

h1.app-logo {
    font-size: 7.5em;
    margin: 0px auto;
    width: 3.7em;
}

.section-name {
    font-weight: lighter;
    color: #999;
    float: right;
    font-size: 4em;
}

.login-container,
.register-group-container {
    width: 40%;
    margin: 0px auto;
    margin-top: 2em;
}

div.register-teacher {
    padding: 0 3em;
    text-align: right;
}
.register-teacher small {
    color: blue;
    font-family: Ubuntu;
    text-decoration: underline;
    cursor: pointer;
}

.autocomplete-suggestions { 
    border-top: 1px solid rgb(209, 229, 238);
    background: #FFF;
    font-size: 2em;
    width: none;
    top: 240px !important;
    position: none;
}
.autocomplete-suggestion { padding: 5px 10px; white-space: nowrap; color: #999; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

#autocomplete-university,
#autocomplete-course {
    /*position: relative;*/
}

.hidden {
    display: none;
}

.alert-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.alert {
    float: right;
    margin: 1em;
    font-weight: lighter;
    padding: 1.5em;
    position: relative;
    background: #24a8e0;
    color: #fff;
}

.alert button {
    position: absolute;
    top: 0px;
    right: 0px;
    font-weight: bold;
    border: none;
    font-size: 1em;
    background: transparent;
    margin: 3px;
    color: #fff;
}

.alert button:hover {
    background: #4fcde0;
    color: #fff;
}

/*homepage*/

.app-logo-wrapper .app-logo {
    margin: 0px 0px 0px 0px;
    padding-left: 0.3em; 
}

.assets-services {
    float: right;
    margin-right: 1em;
}

.services ul li {
    height: 35px;
    width: 35px;
    display: inline-block;
    margin-left: 0.4em;
    opacity: .5;
}

.services ul li:hover {
    opacity: 1;
}

.user-info {
    overflow: hidden;
    padding-left: 2.6em;
}

.user-info div.user-photo {
    width: 63px;
    height: 63px;
    float: left;
    margin-right: 0.5em;
}

.user-info span.user-name {
    font-size: 2em;
    font-weight: lighter;
    padding-top: 0.6em;
    float: left;
    color: #00a8ec;
    outline: none;
}

.user-info div.user-settings {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 1.7em;
    margin-left: 0.6em;
}

nav.menu-bar {
    overflow: hidden;
}
ul.menu-bar {
    margin-bottom: 0px;
    height: 67px;
}

nav.menu-bar ul li.active {
    opacity: 1;
}

nav.menu-bar ul li {
    display: inline-block;
    margin-right: 1em;
    width: 69px;
    height: 69px;
    opacity: 0.5;
    cursor: pointer;
    position: relative;
}

nav.menu-bar ul li a {
    position: absolute;
    padding: 35px;
}

nav.menu-bar ul li:hover {
    opacity: 1;
}

.sharing-stage {
    overflow: hidden;
    padding: 2em;
    background-color: #23a8e0;
}

.group-box {
    font-size: 0.8em;
    float: left;
    padding: 1em;
    margin: 0.5em;
    width: 16em;
    height: 16em;
    background-color: rgba(0, 117, 133, 0.65);
    position: relative;
}
.group-box ul {
    margin: 0;
    padding: 0;
}
.group-box ul li {
    list-style: none;
    padding: 0.4em;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
}

.group-box ul li:hover {
    background: rgb(0, 117, 133);
}

.group-box .user-photo,
.group-box .user-name {
    float: left;
}

.group-box .user-photo {
    width: 25px;
    height: 25px;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.39);
}

.group-box .user-name {
    margin: 2px 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.3em;
    width: 155px;
    font-weight: lighter;
}

.group-box h2.group-name {
    font-weight: lighter;
    font-size: 2.3em;
    color: #333;
    position: absolute;
    bottom: 0px;
    margin-bottom: 5px;
    outline: none;
}

#files table {
    width: 100%;
    font-family: Ubuntu Condensed;
    color: #fff;
    font-size: 1.4em;
}

#files table thead th {
    text-align: left;
}

#files table tr td:last-child,
#files table tr th:last-child {
    text-align: right;
    padding-right: 1em;
}

#files .file-icon {
    width: 9em;
}

#files .file-row td {
    padding: 1em 0em 1em 0em;
}

#files .file-row {
    border-bottom: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.25); 
}

#files .file-row .highlight {
    font-size: 1.6em;
}

#files .file-row:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}