.icon-groups {
    background: url('../../images/sharing-icons-sprite.png') no-repeat;
    background-position: -100px -12px;
}

.icon-chat {
    background: url('../../images/sharing-icons-sprite.png') no-repeat;
    background-position: -100px -265px;
}

.icon-files {
    background: url('../../images/sharing-icons-sprite.png') no-repeat;
    background-position: -100px -183px;
}

.icon-register {
    background: url('../../images/sharing-icons-sprite.png') no-repeat;
    background-position: -102px -97px;
}

.icon-user {
    background: url('../../images/sharing-icons-sprite.png') no-repeat;
    background-position: -105px -350px;
}

.icon-user-config {
    background: url('../../images/sharing-icons-sprite.png') no-repeat;
    background-position: -375px -165px;
}

.icon-dropbox {
    background: url('../../images/sharing-icons-sprite.png') no-repeat;
    background-position: -217px -14px;
}

.icon-google-drive {
    background: url('../../images/sharing-icons-sprite.png') no-repeat;
    background-position: -270px -62px;
}

.icon-sync {
    background: url('../../images/sharing-icons-sprite.png') no-repeat;
    background-position: -325px -114px;
}