{% extends 'main.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="static/css/login/main.css">
{% endblock %}
{% block main_nav %}{% endblock %}

{% block container %}
    <form class="form-signin">
        <h2 class="form-signin-heading brand-font">Sharing</h2>
        <input type="text" class="input-block-level" placeholder="Email">
        <input type="password" class="input-block-level" placeholder="Senha">
        <button class="btn btn-large btn-primary" type="submit">Aluno</button>
        <button class="btn btn-large btn-primary" style="float: right" type="submit">Professor</button>
    </form>
{% endblock %}