{% extends '::base.html.twig' %}

{% block main %}
    <div class="app-logo-wrapper">
        <h1 class="app-logo">Sharing</h1>
    </div>
    <div class="user-info">
        <div class="user-photo">image</div>
        <span class="user-name">Wesley Victhor Mendes</span>
        <div class="user-settings"></div>
    </div>
    <div class="stage-container">
        <nav class="menu-bar">
            <ul class="menu-bar">
                <li>sharing-stage</li>
                <li>chat</li>
                <li>files</li>
                <li>forms</li>
            </ul>
        </nav>
        <div class="sharing-stage">
            <div class="group-box">
                <ul>
                    <li>Wesley Victhor Mendes</li>
                    <li>Bruno Bertela</li>
                    <li>Gustavo Groner</li>
                    <li>Helder Lozzardo</li>
                </ul>
            </div>
            <div class="group-box">
                <ul>
                    <li>Wesley Victhor Mendes</li>
                    <li>Bruno Bertela</li>
                    <li>Gustavo Groner</li>
                    <li>Helder Lozzardo</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
