{% extends '::base.html.twig' %}

{% block main %}
    <div class="app-logo-wrapper">
        <h1 class="app-logo">Sharing</h1>
    </div>
    <div class="user-info">
        <div class="user-photo"></div>
        <span class="user-name">Wesley Victhor Mendes</span>
        <div class="user-settings"></div>
    </div>
    <div class="stage-container">
        <nav class="menu-bar">
            <ul class="menu-bar">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
        <div class="sharing-stage">
            <div class="group-box">
                <ul>
                    <li>
                        <div class="user-photo"></div>
                        <div class="user-name">Wesley Victhor Mendes</div>
                    </li>
                    <li>
                        <div class="user-photo"></div>
                        <div class="user-name">Bruno Bertela</div>
                    </li>
                    <li>
                        <div class="user-photo"></div>
                        <div class="user-name">Gustavo Groner</div>
                    </li>
                    <li>
                        <div class="user-photo"></div>
                        <div class="user-name">Helder Lozzardo</div>
                    </li>
                </ul>
                <h2 class="group-name">FIEO - SI/NA1</h2>
            </div>
            <div class="group-box">
                <ul>
                    <li>
                        <div class="user-photo"></div>
                        <div class="user-name">Wesley Victhor Mendes</div>
                    </li>
                    <li>
                        <div class="user-photo"></div>
                        <div class="user-name">Bruno Bertela</div>
                    </li>
                    <li>
                        <div class="user-photo"></div>
                        <div class="user-name">Gustavo Groner</div>
                    </li>
                    <li>
                        <div class="user-photo"></div>
                        <div class="user-name">Helder Lozzardo</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
