{% extends '::base.html.twig' %}

{% block main %}
    <h1 class="app-logo">Sharing</h1>
    <div class="login-container">
        <form method="post" name="login">
            <fieldset>
                <div class="input-wrapper">
                    <input type="text" name="email" placeholder="Email"/>
                </div>
                <div class="input-wrapper">
                    <input type="password" name="passw" placeholder="Senha" />
                </div>
                <input type="submit" value="Entrar" />
            </fieldset>
        </form>
        <div class="register-teacher"><small>Sou Professor</small></div>
    </div>
{% endblock %}
