{% extends '::base.html.twig' %}

{% block main %}
    <h1 class="app-logo">Sharing</h1>
    <div class="login-container">
        <form method="post" name="login">
            <fieldset>
                <input type="text" name="email" placeholder="Email"/>
                <input type="password" name="passw" placeholder="Senha" />
                <input type="submit" value="Entrar" />
            </fieldset>
        </form>
    </div>
{% endblock %}
