{% extends '::base.html.twig' %}

{% block main %}
    <h1 class="app-logo">Sharing</h1>
    <div class="register-group-container">
        <h3>Cadastrar Turma</h3>
        <form method="post" name="register-group">
            <fieldset>
                <div class="input-wrapper">
                    <input type="text" name="university" placeholder="Universidade"/>
                </div>
                <div class="input-wrapper">
                    <input type="text" name="course" placeholder="Curso" />
                </div>
                <div class="input-wrapper">
                    <input type="text" name="group" placeholder="Nome da turma"/>
                </div>
                <div class="input-wrapper">
                    <input type="text" name="emails" placeholder="Emails" />
                </div>
                <input type="submit" value="Cadastrar" />
            </fieldset>
        </form>
    </div>
{% endblock %}
